
__pycache__/
__pycache__
*.py[cod]
*.pyo
*.pyd

venv/
env/
*.env
/idea
.idea/
.vscode/
*.sublime-workspace
*.sublime-project


*.log
*.bak
*.swp
*.swo


.DS_Store          # pentru macOS
Thumbs.db          # pentru Windows


*.coverage
nosetests.xml
coverage.xml
*.hypothesis/


*.egg
*.egg-info/
dist/
build/


.gitmodules
.gitignore
